<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="new">Write New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.yes24.com/">Bookstore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Contact">Contact</a>
            </li>
        </ul>
    </div>
    {% block content %}
    <br><br>
    <h1 class='title'>책을 안 읽고 쓰는 리뷰</h1> <br><br>
    <h2 class='book_list'>책 목록</h2><br><br>
    <p class="new_post"><a href="{% url 'new' %}"><button type="button" class='btn btn-info'>책 리뷰 쓰기</a></p>
    {% for post in posts %}
        <div class='book_list'>
        
            <div class="book_1">
                {% if post.image %}
                    <img src = "{{post.image.url}}">
                {% endif %}
            </div>
            <div class="book_box">
                <h2><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></h2><br>
                <p class="book_content">{{ post.content }}<br> 가격:{{post.price}}원 평점:{{post.grade}}/5</p>
                <p><a href="{% url 'detail' post.pk %}" class="read-more-btn">내용보기</a></p>
            </div>
        </div>   
    {% endfor %}
        
    
    {% endblock %}
</body>
</html>